body{
    display: flex;
    justify-content: center;
}
.calculator{
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    background: #222;
}
.output{
    width: 390px;
    height: 100px;
    background: #333;
    border-radius: 10px;
    border: solid gray;
}
#display{
    display: flex;
    justify-content: end;
    margin-top: 55px;
    margin-right: 15px;
    font-size: 30px;
}
.clearButton{
    position: relative;
    top: 10px;
    left: 315px;
    width: 70px;
    height: 35px;
    background: red;
    color: white;
    border-radius: 100px;
    
}
.arithemeticButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
    padding: 10px;

}

button{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    border-color: black;
}
